<div class="home-container">
  <!-- Categories Section -->
  <section class="categories">
    <div class="container heigt-adjust" >
      <h2 class="section-title">Explore Our Collections</h2>

      <div class="categories-grid">

        <a routerLink="/analogue" class="category-card" >
          <div class="category-image" style="background-image: url('https://images.pexels.com/photos/190819/pexels-photo-190819.jpeg')"></div>
          <h3>Analogue</h3>
          <p>Timeless classics for every occasion</p>
        </a>

        <a routerLink="digital" class="category-card">
          <div class="category-image" style="background-image: url('https://images.pexels.com/photos/9979922/pexels-photo-9979922.jpeg')"></div>
          <h3>Digital</h3>
          <p>Premium craftsmanship and exquisite materials</p>
        </a>

        <a routerLink="/smart" class="category-card">
          <div class="category-image" style="background-image: url('https://images.pexels.com/photos/437037/pexels-photo-437037.jpeg')"></div>
          <h3>Smart</h3>
          <p>Smart features for the modern lifestyle</p>
        </a>


      </div>
    </div>
  </section>




</div>