<div class="home-container">


  <!-- Categories Section -->
  <section class="categories">
    <div class="container">
      <h2 class="section-title">Explore Our Collections</h2>

      <div class="categories-grid">

        <a routerLink="/casual" class="category-card" >
          <div class="category-image" style="background-image: url('https://images.pexels.com/photos/190819/pexels-photo-190819.jpeg')"></div>
          <h3>Casual</h3>
          <p>Timeless classics for every occasion</p>
        </a>

        <a routerLink="/luxury" class="category-card">
          <div class="category-image" style="background-image: url('https://images.pexels.com/photos/437037/pexels-photo-437037.jpeg')"></div>
          <h3>Luxury</h3>
          <p>Smart features for the modern lifestyle</p>
        </a>

        <a routerLink="digital" class="category-card">
          <div class="category-image" style="background-image: url('https://images.pexels.com/photos/9979922/pexels-photo-9979922.jpeg')"></div>
          <h3>Luxury</h3>
          <p>Premium craftsmanship and exquisite materials</p>
        </a>
      </div>
    </div>
  </section>




</div>