<div class="product-management">
  <div class="container">
    <header class="page-header">
      <h1>Product Management</h1>
      <a routerLink="/admin-dashboard" class="btn btn-primary">Go to Dashboard</a>
    </header>

    <div class="management-actions">
      <button class="btn btn-primary" (click)="showAddProductForm = true; selectedProduct = null">Add New Product</button>
      <input type="text" placeholder="Search by name" [(ngModel)]="searchTerm" (input)="filterProducts()" class="search-input">
      <select [(ngModel)]="selectedBrand" (change)="filterProducts()" class="filter-select">
        <option value="">All Brands</option>
        <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
      </select>
    </div>

    <!-- Add Product Form -->
    <div *ngIf="showAddProductForm" class="add-product-form">
      <h2>Add New Product</h2>
      <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name" required>
          <div *ngIf="addProductForm.get('name')!.invalid && addProductForm.get('name')!.touched" class="error">
            Name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="brand">Brand:</label>
          <input type="text" id="brand" formControlName="brand" required>
          <div *ngIf="addProductForm.get('brand')!.invalid && addProductForm.get('brand')!.touched" class="error">
            Brand is required.
          </div>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" id="price" formControlName="price" required>
          <div *ngIf="addProductForm.get('price')!.invalid && addProductForm.get('price')!.touched" class="error">
            Price must be a positive number.
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" formControlName="description" required></textarea>
          <div *ngIf="addProductForm.get('description')!.invalid && addProductForm.get('description')!.touched" class="error">
            Description is required.
          </div>
        </div>
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" formControlName="quantity" required>
          <div *ngIf="addProductForm.get('quantity')!.invalid && addProductForm.get('quantity')!.touched" class="error">
            Quantity must be a positive number.
          </div>
        </div>
        <div class="form-group">
          <label for="category">Category:</label>
          <select id="category" formControlName="categoryId" required class="custom-select">
            <option *ngFor="let key of categoryKeys" [value]="key">{{ categoryMap[key] }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="image">Image:</label>
          <input type="file" id="image" (change)="onFileSelected($event)">
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
        <button type="button" class="btn btn-secondary" (click)="showAddProductForm = false">Cancel</button>
      </form>
    </div>

    <!-- Edit Product Form -->
    <div *ngIf="selectedProduct" class="edit-product-form">
      <h2>Edit Product</h2>
      <form [formGroup]="editProductForm" (ngSubmit)="updateProduct()">
        <div class="form-group">
          <label for="edit-name">Name:</label>
          <input type="text" id="edit-name" formControlName="name" required>
          <div *ngIf="editProductForm.get('name')!.invalid && editProductForm.get('name')!.touched" class="error">
            Name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="edit-brand">Brand:</label>
          <input type="text" id="edit-brand" formControlName="brand" required>
          <div *ngIf="editProductForm.get('brand')!.invalid && editProductForm.get('brand')!.touched" class="error">
            Brand is required.
          </div>
        </div>
        <div class="form-group">
          <label for="edit-price">Price:</label>
          <input type="number" id="edit-price" formControlName="price" required>
          <div *ngIf="editProductForm.get('price')!.invalid && editProductForm.get('price')!.touched" class="error">
            Price must be a positive number.
          </div>
        </div>
        <div class="form-group">
          <label for="edit-description">Description:</label>
          <textarea id="edit-description" formControlName="description" required></textarea>
          <div *ngIf="editProductForm.get('description')!.invalid && editProductForm.get('description')!.touched" class="error">
            Description is required.
          </div>
        </div>
        <div class="form-group">
          <label for="edit-quantity">Quantity:</label>
          <input type="number" id="edit-quantity" formControlName="quantity" required>
          <div *ngIf="editProductForm.get('quantity')!.invalid && editProductForm.get('quantity')!.touched" class="error">
            Quantity must be a positive number.
          </div>
        </div>
        <div class="form-group">
          <label for="edit-category">Category:</label>
          <select id="edit-category" formControlName="categoryId" required class="custom-select">
            <option *ngFor="let key of categoryKeys" [value]="key">{{ categoryMap[key] }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="edit-image">Image:</label>
          <input type="file" id="edit-image" (change)="onFileSelected($event)">
        </div>
        <button type="submit" class="btn btn-primary">Update Product</button>
        <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
      </form>
    </div>

    <div class="products-table">
      <table>
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts">
            <td>
              <div class="product-image">
                <img *ngIf="product.imageUrl" [src]="product.imageUrl.startsWith('http') ? product.imageUrl : 'https://localhost:7194/' + product.imageUrl.replace('wwwroot/', '')" alt="{{ product.name }}">
              </div>
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.price.toFixed(2) }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ categoryMap[product.categoryId] }}</td> <!-- Display category -->
            <td>
              <div class="action-buttons">
                <button class="btn-icon edit" (click)="editProduct(product)">Edit</button>
                <button class="btn-icon delete" (click)="deleteProduct(product.id)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
